body{
    color: white;
    background-color: azure;
}
#wrapper{
    background-color: rgb(90, 90, 248);
}
#btn-check{
    width: max-content;
    background-color: black;
    color: white;
    border-color: black;
}
#check-mex{
    background-color:white;
    font-size: 1.2em;
    border: 3px dashed red;
    color: red;
}
#btn-play{
    width: max-content;
    background-color: rgb(201, 201, 41);
    color: black;
    border-color: black;
}
#result-container{
    color: white;
    width: 80%;
    height: 100px;
}